
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel="false"  name="Suite">
  <test thread-count="5" name="Test">
	
	 
	 
    <classes>
<!--      <class name="TestNGtestcases.testcase1"/>-->
<!--      <class name="TestNGtestcases.testcase2"/>-->
 <!--      <class name="TestCases.LoginPageTestCases"/>-->
 <class name="TestCases.LoginPageTestCases2"/>
 
    </classes>
    	 </test> 
  
</suite>
  

	
	 